
.result {
    position: absolute;
    width: 50%;
    height: 700px;
    background-color: rgb(30, 30, 255);
    border-radius: 5%;
    z-index: 1;
    color: white;

}

.result .head {
    padding: 5px 0 0 40%;
    font-size: 30px;
    text-transform: capitalize;
}

.result .main {
    background-color: rgb(7, 7, 173);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding: 10%;
    margin: 5% 30%;
}

.result .main .num1 {
    font-size: 80px;
    font-weight: bold;
    padding: 0 0 0 20%;
}

.result .main .num2 {
    font-size: 20px;
    padding: 0 0 0 30%;

}

.result .footer .great {
    font-size: 80px;
    text-transform: capitalize;
    padding: 0 0 0 35%;
}

.result .footer .par-result {
    font-size: 25px;
    position: relative;
    left: -20%;
    
}

.summary {
    position: absolute;
    width: 50%;
    height: 700px;
    background-color: aliceblue;
    left: 50%;
    z-index: 0;
}

.sum-head,
.reaction,
.memory,
.verbal,
.visual {

    margin: 5%;
}

.sum-head {
    font-size: 30px;
    text-transform: capitalize;
}

.reaction {
    width: 90%;
    height: 10%;
    background-color: rgb(243, 235, 235);
    border: 2px solid blanchedalmond;
    border-radius: 50px;
}
.reaction img{
    width: 35px;
    height: 35px;
    margin: 15px 20px

}
.reaction .re{
    color: rgb(219, 67, 67);
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    bottom: 20px;


}
.reaction .mark1{
    position: relative;
    bottom: 20px;
    left: 35%;
    font-size: 25px;
}
.your-mark{
    color: rgb(37, 37, 58);
}
.total{
    opacity: 0.5;
}

.memory {
    width: 90%;
    height: 10%;
    background-color: rgb(238, 234, 240);
    border: 2px solid rgb(214, 174, 112);
    border-radius: 50px;

}
.memory img{
    width: 35px;
    height: 35px;
    margin: 15px 20px

}
.memory .me{
    color: rgb(207, 134, 51);
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    bottom: 20px;


}
.memory .mark2{
    position: relative;
    bottom: 20px;
    left: 35%;
    font-size: 25px;
}

.verbal {
    width: 90%;
    height: 10%;
    background-color: rgb(230, 234, 236);
    border: 2px solid rgb(126, 145, 206);
    border-radius: 50px;
}
.verbal img{
    width: 35px;
    height: 35px;
    margin: 15px 20px

}
.verbal .ve{
    color: rgb(111, 170, 224);
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    bottom: 20px;


}
.verbal .mark3{
    position: relative;
    bottom: 20px;
    left: 38%;
    font-size: 25px;
}


.visual {
    width: 90%;
    height: 10%;
    background-color: rgb(184, 143, 218);
    border: 2px solid rgb(205, 130, 235);
    border-radius: 50px;
}
.visual img{
    width: 35px;
    height: 35px;
    margin: 15px 20px

}
.visual .vi{
    color: rgb(52, 54, 167);
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    bottom: 20px;


}
.visual .mark4{
    position: relative;
    bottom: 20px;
    left: 38%;
    font-size: 25px;
}


.summary input {
    color: white;
    font-size: 30px;
    background-color: rgb(7, 3, 24);
    margin: 10% 15%;
    border-radius: 50px;
    width: 70%;
    padding: 5px 5px;
}

.summary input:hover {
    cursor: pointer;
}
@media(min-width:1440px){
    .result .footer .par-result {
        font-size: 25px;
        position: relative;
        left: 0%;
        
    }
}

@media(min-width:2560px){
    .result {
        position: absolute;
        width: 50%;
        height: 1200px;
        background-color: rgb(30, 30, 255);
        border-radius: 5%;
        z-index: 1;
        color: white;
    
    }
.result .head {
    padding: 5px 0 0 40%;
    font-size: 70px;
    text-transform: capitalize;
}

.result .main .num1 {
    font-size: 150px;
    font-weight: bold;
    padding: 0 0 0 20%;
}

.result .main .num2 {
    font-size: 50px;
    padding: 0 0 0 30%;

}

.result .footer .great {
    font-size: 80px;
    text-transform: capitalize;
    padding: 0 0 0 40%;
}

.result .footer .par-result {
    font-size: 50px;
    position: relative;
    left: -10%;
    
}
.summary {
    position: absolute;
    width: 50%;
    height: 1200px;
    background-color: aliceblue;
    left: 50%;
    z-index: 0;
}
}